/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */


    @font-face {
        font-family: 'Akzidenz';
        src: url('/assets/fonts/akzidenzgrotesk-regular-webfont.woff2') format('woff2'),
            url('/assets/fonts/akzidenzgrotesk-regular-webfont.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Akzidenz';
        src: url('/assets/fonts/akzidenzgrotesk-italic-webfont.woff2') format('woff2'),
            url('/assets/fonts/akzidenzgrotesk-italic-webfont.woff') format('woff');
        font-weight: 400;
        font-style: italic;
    }

    @font-face {
        font-family: 'Akzidenz';
        src: url('/assets/fonts/akzidenzgrotesk-medium-webfont.woff2') format('woff2'),
            url('/assets/fonts/akzidenzgrotesk-medium-webfont.woff') format('woff');
        font-weight: 600;
    }


    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-weight:400;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke:1px transparent;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles!
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

/* box-sizing reset */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button {
     background:none!important;
     color:inherit;
     border:none;
     font: inherit;
     color:#2F3140;
     cursor: pointer;
     text-decoration: none;
     border-radius:40px;
     border:2px solid rgba(47,49,64,255);
     text-align: center;
     padding:6px 20px;
    margin:20px 0 0 82px;
}

button:hover{
  color:#4700B2;
  border:2px solid #4700B2;

}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/

body{
  font-family:'Big Caslon', 'Akzidenz', 'Arial', sans-serif;
  background-color: #090114;
  line-height:1.2;
  font-size:2rem;
  color: #fff;
}

section{
    margin: 40px 40px 40px 40px;
    padding: 0 0 40px 0;
}

a{
  color:#FFF50A;
  text-decoration: none;
}

a:hover{
  color:#0AFFB6;
}


h1, h2, h3, h4{
    font-family: 'Aksidenz', sans-serif;
    font-size:1.2rem;
    text-transform: uppercase;
    border-top:1px #fff solid;
    font-weight:600;
    padding:12px 0 36px 0;
}

ul{
  list-style: none;
  /* display:inline-block;
  padding-left:82px; */
}

p{
    margin-bottom:24px;
}

.review p, .book p{
    font-size: 1.6rem;
    line-height:1.2;
}

.review p{
    display:inline;
}

.review {
    line-height: 0px;
}

.yellow{
    color:#FFF50A;
}

p.name{
    display:inline;
    font-family: 'Aksidenz', sans-serif;
    font-size:1.2rem;
    text-transform: uppercase;
    font-weight:600;
    color: #CFCFCF;

}

@media only screen and (min-width: 800px) {

    body{
      font-size:4rem;
    }

    section{
        margin: 40px 25% 40px 40px;
        padding: 0 0 100px 0;
    }

    h1, h2, h3, h4{
        font-size:1.6rem;
        border-top:1px #fff solid;
        padding:12px 0 48px 0;
    }

    .review p, .book p{
        font-size: 2.5rem;
        line-height:1.2;
    }

    p.name{
        font-size:1.6rem;
    }

    .review {
        width:75%;
    }
}
